[user]
	email = hforestier@protonmail.com 
	name = Hugo F.

[color]
	ui = auto

[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[status]
	showUntrackedFiles = all
